---
// 全局特效层:aurora / scanlines / noise / beams
// meteors 由 cursor.ts 客户端注入到 #cyber-fx 里
---
<div id="cyber-fx" aria-hidden="true">
  <div class="fx-aurora"></div>
  <div class="fx-scanlines"></div>
  <div class="fx-noise"></div>
  <svg
    class="fx-beams"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    viewBox="0 0 1600 900"
  >
    <defs>
      <linearGradient id="cyber-grad" x1="0" y1="0" x2="1" y2="1">
        <stop offset="0%" stop-color="#00f0ff" stop-opacity="0.7" />
        <stop offset="50%" stop-color="#ff2a6d" stop-opacity="0.5" />
        <stop offset="100%" stop-color="#fcee0a" stop-opacity="0.3" />
      </linearGradient>
    </defs>
    <g stroke="url(#cyber-grad)" stroke-width="1.2" fill="none">
      <path d="M-100,200 Q400,100 900,300 T1700,500" />
      <path d="M-100,400 Q500,250 1000,500 T1700,700" />
      <path d="M-100,600 Q300,450 800,650 T1700,400" />
      <path d="M-100,100 Q600,400 1200,200 T1700,300" />
      <path d="M-100,800 Q400,650 900,800 T1700,600" />
    </g>
  </svg>
</div>
